<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Error</title>
	<link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="container w-50 p-3">
	<h1 class="display-5 text-danger">Error</h1>
	<br>
	<p>Something went wrong.</p>
	<p th:text="|${#response.status} - ${httpStatus.reasonPhrase}|"></p>
	<br>
	<button type="button" onclick=window.location.href="home.html" id="signup-link" class="btn btn-danger">
		Back to the home page
	</button>
</div>
</body>
</html>
